@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Go Boom!";
    src: url("../assets/GoBoom.woff2") format("woff2");
  }

  * {
    font-family: "Go Boom!", sans-serif;
  }

  * {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }
}
