@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Go Boom!";
    src: url("../assets/GoBoom.woff2") format("woff2");
  }

  html {
    font-family: "Go Boom!", sans-serif;
  }
}
